@mixin flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
@mixin font($fz, $lh, $fw){
    font-size: $fz + px;
    line-height: $lh + px;
    font-weight: $fw;
}
@mixin btn{
    padding: 14px 30px;
    background-color: $grey;
    color: #fff;
    @include font(20,20,400);
    border-radius: 27px;
    transition: .25s ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: $green;
    }
}

@mixin media($w){
    @media (max-width:$w){
        @content
    }
}